{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "react-hooks", "typescript", "@typescript-eslint"],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ]
  },
  "env": {
    "jest": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  }
}
